*{
    color: aliceblue;
    padding: 0;
    margin: 0;
    
}

.container{
    justify-content: space-between;
    background-color: rgb(53, 48, 48);
    height: 100vh;
    width: 100vw;
}

.books{
    width: 80%;
    overflow: scroll;
}

.headingContainer{
    border-bottom: 5px solid royalblue;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.lib-info{
    background-color: royalblue;
    width: 20%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.lib-info>div{
    width: 100%;
    justify-content: space-around;
}

button{
    background-color: transparent;
    border-style: solid;
    padding: 0 30px
}


.bookgrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
    gap: 10px;
    
}

.card{
    justify-self: center;
    background-color: royalblue;
    aspect-ratio:16/9;
    padding: 25px;
    justify-content: center;
}

.card>.row{
    justify-content: space-between;
}
