*{
    color: aliceblue;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(53, 48, 48);
    height: 100vh;
    width: 100vw;
}

.books{
    width: 80%;
    overflow: scroll;
}

.headingContainer{
    border-bottom: 5px solid royalblue;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.lib-info{
    background-color: royalblue;
    width: 20%;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.lib-info>h2{
    width: 100%;
    text-align: center;
}
.lib-info>div{
    width: 100%;
    justify-content: space-around;
}

button{
    background-color: transparent;
    border-style: solid;
    padding: 0 30px
}


.bookgrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 10px;
    column-gap: 10px;
    padding: 5px;
    justify-items: center;    
}

.card{
    background-color: royalblue;
    width: 100%;
    aspect-ratio: 16/9;
    padding: 10px;
    justify-content: center;
    border: 5px double black;
}

.card>.row{
    justify-content: space-between;
}
